<a href="https://colab.research.google.com/github/yamenka/Hamoyee_intern_quiz2/blob/main/Hamoyee_stageB_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge , Lasso
from sklearn.metrics import mean_absolute_error , mean_squared_error , r2_score

In [ ]:
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')

In [ ]:
data.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [ ]:
data.dtypes

date            object
Appliances       int64
lights           int64
T1             float64
RH_1           float64
T2             float64
RH_2           float64
T3             float64
RH_3           float64
T4             float64
RH_4           float64
T5             float64
RH_5           float64
T6             float64
RH_6           float64
T7             float64
RH_7           float64
T8             float64
RH_8           float64
T9             float64
RH_9           float64
T_out          float64
Press_mm_hg    float64
RH_out         float64
Windspeed      float64
Visibility     float64
Tdewpoint      float64
rv1            float64
rv2            float64
dtype: object

In [ ]:
data.isna().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [ ]:
data.drop(columns=['date','lights'],inplace=True)

In [ ]:
data.head()

   Appliances     T1       RH_1  ...  Tdewpoint        rv1        rv2
0          60  19.89  47.596667  ...        5.3  13.275433  13.275433
1          60  19.89  46.693333  ...        5.2  18.606195  18.606195
2          50  19.89  46.300000  ...        5.1  28.642668  28.642668
3          50  19.89  46.066667  ...        5.0  45.410389  45.410389
4          60  19.89  46.333333  ...        4.9  10.084097  10.084097

[5 rows x 27 columns]

In [ ]:
scaler = MinMaxScaler()
normalised = pd.DataFrame(scaler.fit_transform(data),columns = data.columns)

In [ ]:
normalised.head()

   Appliances       T1      RH_1  ...  Tdewpoint       rv1       rv2
0    0.046729  0.32735  0.566187  ...   0.538462  0.265449  0.265449
1    0.046729  0.32735  0.541326  ...   0.533937  0.372083  0.372083
2    0.037383  0.32735  0.530502  ...   0.529412  0.572848  0.572848
3    0.037383  0.32735  0.524080  ...   0.524887  0.908261  0.908261
4    0.046729  0.32735  0.531419  ...   0.520362  0.201611  0.201611

[5 rows x 27 columns]

In [ ]:
used_data = normalised.drop(columns='Appliances')
target = normalised['Appliances']

In [ ]:
used_data.head()

        T1      RH_1        T2  ...  Tdewpoint       rv1       rv2
0  0.32735  0.566187  0.225345  ...   0.538462  0.265449  0.265449
1  0.32735  0.541326  0.225345  ...   0.533937  0.372083  0.372083
2  0.32735  0.530502  0.225345  ...   0.529412  0.572848  0.572848
3  0.32735  0.524080  0.225345  ...   0.524887  0.908261  0.908261
4  0.32735  0.531419  0.225345  ...   0.520362  0.201611  0.201611

[5 rows x 26 columns]

In [ ]:
target.head()

0    0.046729
1    0.046729
2    0.037383
3    0.037383
4    0.046729
Name: Appliances, dtype: float64

In [ ]:
X_train , X_test , Y_train, Y_test = train_test_split(used_data, target, test_size = 0.3, random_state = 42)

In [ ]:
linear_reg_model = LinearRegression()

In [ ]:
linear_reg_model.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
model_predictions = linear_reg_model.predict(X_test)

In [ ]:
mae = mean_absolute_error(Y_test, model_predictions)

rss = np.sum(np.square(Y_test - model_predictions))


mse = mean_squared_error(Y_test, model_predictions)


r2 = r2_score(Y_test , model_predictions)

In [ ]:

print(f'mae = {mae:.2f}\nrss = {rss:.2f}\nmse = {mse:.2f}\nr2_score = {r2:.2f}')

mae = 0.05
rss = 45.35
mse = 0.01
r2_score = 0.15

In [ ]:
x = normalised['T2']
y = normalised['T6']
y.head()

0    0.381070
1    0.375443
2    0.367487
3    0.363800
4    0.361859
Name: T6, dtype: float64

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state= 42)

In [ ]:
model = LinearRegression()
model.fit(x_train.values.reshape(-1,1), y_train.values.reshape(-1,1))

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
r2 = model.score(x_test.values.reshape(-1,1), y_test.values.reshape(-1,1))

In [ ]:
r2

0.6427789637197382

In [ ]:
def get_weights(model, predictors, name):
    weights = pd.Series(model.coef_, predictors.columns).sort_values()
    weight_df = pd.DataFrame(weights).reset_index()
    weight_df.columns = ['features', name]
    weight_df[name].round(3)
    return weight_df

In [ ]:
weights = get_weights(linear_reg_model, X_train, 'Linear regression' )

In [ ]:
weights

       features  Linear regression
0          RH_2          -0.456698
1         T_out          -0.321860
2            T2          -0.236178
3            T9          -0.189941
4          RH_8          -0.157595
5        RH_out          -0.077671
6          RH_7          -0.044614
7          RH_9          -0.039800
8            T5          -0.015657
9            T1          -0.003281
10          rv1           0.000770
11          rv2           0.000770
12  Press_mm_hg           0.006839
13           T7           0.010319
14   Visibility           0.012307
15         RH_5           0.016006
16         RH_4           0.026386
17           T4           0.028981
18    Windspeed           0.029183
19         RH_6           0.038049
20         RH_3           0.096048
21           T8           0.101995
22    Tdewpoint           0.117758
23           T6           0.236425
24           T3           0.290627
25         RH_1           0.553547

In [ ]:
ridge = Ridge(alpha=0.4).fit(X_train, Y_train)

In [ ]:
ridge_pred = ridge.predict(X_test)

In [ ]:
ridge_mae = mean_absolute_error(Y_test, ridge_pred)

ridge_rss = np.sum(np.square(Y_test - ridge_pred))

ridge_mse = mean_squared_error(Y_test, ridge_pred)

ridge_r2 = r2_score(Y_test, ridge_pred)

In [ ]:
print(f'mae = {ridge_mae}\nrss = {ridge_rss}\nmse = {ridge_mse}\nr2_score = {ridge_r2}')

mae = 0.05008744584092381
rss = 45.36774486216903
mse = 0.007662176129398587
r2_score = 0.14852493545092593

In [ ]:
ridge_weights = get_weights(ridge, X_train, "Ridge Model")

In [ ]:
ridge_weights

       features  Ridge Model
0          RH_2    -0.411071
1         T_out    -0.262172
2            T2    -0.201397
3            T9    -0.188916
4          RH_8    -0.156830
5        RH_out    -0.054724
6          RH_7    -0.045977
7          RH_9    -0.041367
8            T5    -0.019853
9            T1    -0.018406
10          rv2     0.000748
11          rv1     0.000748
12  Press_mm_hg     0.006584
13           T7     0.010098
14   Visibility     0.012076
15         RH_5     0.016152
16         RH_4     0.024579
17           T4     0.027384
18    Windspeed     0.030268
19         RH_6     0.035519
20    Tdewpoint     0.083128
21         RH_3     0.095135
22           T8     0.101028
23           T6     0.217292
24           T3     0.288087
25         RH_1     0.519525

In [ ]:
lasso_model = Lasso(alpha=0.001).fit(X_train,Y_train)
lasso_pred = lasso_model.predict(X_test)

In [ ]:
#Mean absolute error
lasso_mae = mean_absolute_error(Y_test, lasso_pred)

#Residual sum of squares 
lasso_rss = np.sum(np.square(Y_test - lasso_pred))

#Mean squared error
lasso_mse = mean_squared_error(Y_test, lasso_pred)

#R squared score
lasso_r2 = r2_score(Y_test, lasso_pred)

In [ ]:
print(f'mae = {lasso_mae}\nrss = {lasso_rss}\nmse = {lasso_mse}\nr2_score = {lasso_r2}')

mae = 0.055256639821262256
rss = 51.85336739590869
mse = 0.008757535449401907
r2_score = 0.026800880567125818

In [ ]:
lasso_weights = get_weights(lasso_model, X_train, 'Lasso Model')
lasso_weights[lasso_weights['Lasso Model'] != 0]

     features  Lasso Model
0      RH_out    -0.049557
1        RH_8    -0.000110
24  Windspeed     0.002912
25       RH_1     0.017880

In [ ]:

final_weights = weights.merge(ridge_weights, on='features')
final_weights = final_weights.merge(lasso_weights, on='features')

In [ ]:
final_weights

       features  Linear regression  Ridge Model  Lasso Model
0          RH_2          -0.456698    -0.411071    -0.000000
1         T_out          -0.321860    -0.262172     0.000000
2            T2          -0.236178    -0.201397     0.000000
3            T9          -0.189941    -0.188916    -0.000000
4          RH_8          -0.157595    -0.156830    -0.000110
5        RH_out          -0.077671    -0.054724    -0.049557
6          RH_7          -0.044614    -0.045977    -0.000000
7          RH_9          -0.039800    -0.041367    -0.000000
8            T5          -0.015657    -0.019853    -0.000000
9            T1          -0.003281    -0.018406     0.000000
10          rv1           0.000770     0.000748    -0.000000
11          rv2           0.000770     0.000748    -0.000000
12  Press_mm_hg           0.006839     0.006584    -0.000000
13           T7           0.010319     0.010098    -0.000000
14   Visibility           0.012307     0.012076     0.000000
15         RH_5           0.016006     0.016152     0.000000
16         RH_4           0.026386     0.024579     0.000000
17           T4           0.028981     0.027384    -0.000000
18    Windspeed           0.029183     0.030268     0.002912
19         RH_6           0.038049     0.035519    -0.000000
20         RH_3           0.096048     0.095135     0.000000
21           T8           0.101995     0.101028     0.000000
22    Tdewpoint           0.117758     0.083128     0.000000
23           T6           0.236425     0.217292     0.000000
24           T3           0.290627     0.288087     0.000000
25         RH_1           0.553547     0.519525     0.017880